@{
    ViewData["Title"] = "SignIn";
}

@model SignInViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Kullanıcı Giriş</h2>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnURl"]" method="post">
            <div class="mb-3">
                <label for="UserName" class="col-md-4 col-form-label" asp-for="UserName"></label>
                <input value="acetin1" asp-for="UserName" class="form-control" placeholder="Email veya kullanıcı adı giriniz.">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input value="Deneme123!" type="password" class="form-control" asp-for="Password">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <label class="form-check-label" asp-for="RememberMe"></label>
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-link me-0" asp-action="ForgetPassword" asp-controller="Home">Şifremi Unuttum</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>